
    /* nav bar */
    
    
    
      /* search in navbar */
      .searchbar{
        float: left;
        width: 30%;
        border-radius: 10px;
    
      }
      #searchtxt{
      font-size: 15px;
      padding: 5px;
      width: 90%;
    
      }

    
      /* container for checkout icon*/
      .trolly {
      /* keeps the checkout button positioned with the checkout icon */
        position: relative;
        width: 55px;
        float: right;
        text-align: right;
        
      }
      .btn{
          padding: 10px;
      }
      #image{
      padding-top: 10px;
      padding-right: 2px;
      float: right;
      display: block;
      width: 50px;
      }
      .text {
        text-decoration: none;
        color: white;
        font-size: 15px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-family: sans-serif;
      }
.top{
    /* nav backgrond colour */
    background-color: #282a36;
    /* centers the nav */
    flex-flow: row nowrap;
    -ms-flex-pack: start;
    justify-content: flex-start;
    /* position: relative; */
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: .5rem 1rem;
    }


/* navigation bar CSS */

.floatRight {
    float: right;
    padding-left: 8px;
    /* padding-left: 50px; */
}

/* navigation bar CSS */

/* Side Bar CSS for shopping cart */

.columnC {
    float: left;
    width: 50%;
    height: auto;
    position: relative;
}

.sidenav {
    height: 100%;
    width: 0;
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: darkgoldenrod;
    overflow-x: hidden;
    transition: 0.2s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 8px;
    text-decoration: none;
    margin-top: 0;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    font-size: 36px;
}

#main {
    transition: margin-right .5s;
    padding: 0px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}

/* Side Bar CSS for shopping cart */

/* Carousel same heights */

.carousel-item {
    padding-top: 10px;
    max-height: 500px
}

/* Carousel same heights */

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
  }
  
  body {
    text-decoration: none;
    background-color: #44475a;
    color: #FFF;
    font-family: Arial;
  
  }
  

    .overlay {
    /* text appears at the bottom */
      position:absolute;
      opacity: 0;
      transition:all .3s ease;
      float: right;
      background-color: #008cba;
  
    }
    .overlayBottom{
      width: 60px;
      height: 0;
      bottom:0;
      left:0;
  
      border-radius: 5px;
      background-color: #941e33;
    }
    .trolly:hover .overlayTop ,.trolly:hover .overlayBottom {
      height: 92%;
    }
    .trolly:hover .overlay,.trolly:hover .overlayFade {
      opacity: 1;
    }
  
  
  
  nav {
  height:100px;
  text-align: center;
  
  }
  
  ul {
      float: left;
    display: block;
  line-height:100px;
  
  
  
  }
  ul li{
  pointer-events: auto ;
   cursor: default;
   text-indent: 0%;
  list-style:none;
  display:inline-block;
  
  line-height:40px;
  
  
  }
  /* text for button */
  ul li a{
  padding-right:30px;
  float: center;
  text-decoration: none;
  font-size: 15px;
  font-family: arial;
  color: white;
  /* space between each button */
  
  }
  /* hover over button effects */
  ul li a:hover{
  color: gold;
  font-size:15px;
  }
  